In [87]:
import pandas as pd
import math
import matplotlib.pyplot as plot

In [3]:
df = pd.read_excel("exercise_data.xlsx")
df.head()

,activity_day_id,activity_date,move_calories,exercise_minutes,stand_hours,date_added,medals
0,fa7e35be-cf4e-4060-8672-eb9ff8b430f5,2018-11-29,637,36,15,2019-05-07 19:12:05.533,NaN
1,a20a8c88-d464-487c-b61d-2634df76cd15,2018-11-30,771,57,10,2019-05-07 19:13:40.547,NaN
2,c7c03dc0-4029-43e6-93fa-a4f275997fbd,2018-12-01,578,70,11,2019-05-07 19:18:45.299,NaN
3,055a52c5-fbec-4537-a5e9-fce5b0ab9ba1,2018-12-02,371,12,13,2019-05-07 19:18:45.299,NaN
4,eab6ce27-1b43-4738-b1c6-212163ffadf9,2018-12-04,211,0,5,2019-05-07 19:18:45.299,NaN

In [6]:
"""
For validating functions I write
"""
df.describe()

       move_calories  exercise_minutes  stand_hours  medals
count     179.000000        179.000000   179.000000     0.0
mean      702.122905         44.145251     9.921788     NaN
std       380.186451         34.872176     4.594149     NaN
min         0.000000          0.000000     0.000000     NaN
25%       371.000000          6.000000     7.500000     NaN
50%       758.000000         58.000000    11.000000     NaN
75%      1006.000000         64.000000    13.000000     NaN
max      1491.000000        203.000000    18.000000     NaN

In [128]:
def calculate_mean(dataset, sample=True):
    return sum(dataset) / len(dataset)

In [129]:
print(calculate_mean(df.move_calories, False))
print(calculate_mean(df.move_calories, True))

702.1229050279329
702.1229050279329

In [130]:
def calculate_variance(dataset, sample=True):
    """
    Spread of the dataset relative to its mean
    """
    mean = calculate_mean(dataset, sample)
    differences_squares = [(x - mean)**2 for x in dataset]
    sum_differences = sum(differences_squares)
    if sample:
        return sum_differences / (len(dataset) - 1)
    else:
        return sum_differences / len(dataset)

In [67]:
print(calculate_variance(df.move_calories, False))
print(calculate_variance(df.move_calories, True))

143735.2418775943
144542.74323645717

In [133]:
def calculate_std(dataset, sample=True):
    """
    Makes variance more realistic and easier to read
    """
    var = calculate_variance(dataset, sample)
    return math.sqrt(var)

In [69]:
print(calculate_std(df.move_calories, False))
print(calculate_std(df.move_calories, True))

379.12430926754655
380.1877736546208

In [54]:
def calculate_coeff_of_variation(dataset, sample=True):
    mean = calculate_mean(dataset, sample)
    std = calculate_std(dataset, sample)
    return mean / std

In [55]:
print(calculate_coeff_of_variation(df.move_calories, False))
print(calculate_coeff_of_variation(df.move_calories, True))

1.8519660446319934
1.8441490063929926

In [76]:
def calculate_covariance(columnx, columny, sample=True):
    """
    Gives a sense of which direction the variables are moving
    in relation to each other
    > 0 if same direction
    < 0 if opposite direction
    = 0 if data is independent of each other
    """
    meanx = calculate_mean(columnx, sample)
    meany = calculate_mean(columny, sample)
    x_diffs = [(x - meanx) for x in columnx]
    y_diffs = [(y - meany) for y in columny]
    diffs_multiplied = 0
    for x in range(len(x_diffs)):
        diffs_multiplied += (x_diffs[x] * y_diffs[x])
    if sample:
        return diffs_multiplied / (len(columny) - 1)
    else:
        return diffs_multiplied / (len(columny))

In [82]:
print(calculate_covariance(df.move_calories, df.exercise_minutes, True))
print(calculate_covariance(df.move_calories, df.exercise_minutes, False))

11875.886541962213
11809.540807090916

In [84]:
def calculate_correlation_coefficient(columnx, columny, sample=True):
    """
    Adjusts covariance so the relationship between them is easier to understand
    """
    cov = calculate_covariance(columnx, columny, sample)
    stdx = calculate_std(columnx, sample)
    stdy = calculate_std(columny, sample)
    return cov / (stdx * stdy)

In [85]:
print(calculate_correlation_coefficient(df.move_calories, df.exercise_minutes, True))
print(calculate_correlation_coefficient(df.move_calories, df.exercise_minutes, False))

0.08216176250740222
0.08216176250740222

 # Distribution
 Function that shows the possible values for a variable and how often they occur
 
 When sum of all values equals 1 or 100%, you have found them all.

## Normal distribution
Has the same mean, median, mode. Has no skewness.
Distribution graph is a bell curve
origin is the 0 point
Higher standard deviant will flatten the graph out. Inverse for the lower standard deviations

## Standardization
Transforming variables to have a mean of zero and a standard deviation of one.

(x - mean) / standard deviantion
where X is the original variable

Z-score (standard normal distribution) ^

In [138]:
def calculate_zscore(x, mean, std):
    return (x - mean) / std

In [180]:
def shift_dataset_to_normal(dataset):
    mean = calculate_mean(dataset)
    std = calculate_std(dataset)
    print('1: mean {} ,std {}'.format(mean, std))
    print('Finding difference between each x value and {}'.format(mean))
    differences = [round(x - mean) for x in dataset]
    mean2 = calculate_mean(differences)
    std2 = calculate_std(differences)
    print('2: mean {}, std {}, x - mean is = {}'.format(mean2, std2, differences))
    zscores = [(round(diff / std2)) for diff in differences]
    print('After dividing all differences by {}, we get (rounded) {}'.format(std2, sum(zscores)))
    """
    Adding/Subtracting values from all values does not change the std
    """

In [181]:
shift_dataset_to_normal([1,2,2,3,3,3,4,4,5])
"""
Show the data moving towards a normal distribution
"""

1: mean 3.0 ,std 1.224744871391589
Finding difference between each x value and 3.0
2: mean 0.0, std 1.224744871391589, x - mean is = [-2, -1, -1, 0, 0, 0, 1, 1, 2]
After dividing all differences by 1.224744871391589, we get (rounded) 0

'\nShow the data moving towards a normal distribution\n'

## Sampling Distribution
Distribution formed by a collection of sample values (ie, mean values).
## Central Limit Theorm
Sampling distribution of the mean will show a normal distribution.
It's mean is the same as the population mean.
Variance is the population variance divided by sample size
## Standard Error
Standard deviation of the sampling distribution (of the sample means)

In [193]:
def calculate_mean_standard_error(dataset, sample=True):
    """
    Shows variability of samples means / dataset should be a list of means from samples
    """
    std = calculate_std(dataset, sample=False)
    return std / math.sqrt(len(dataset))

In [194]:
calculate_mean_standard_error([calculate_mean(df.move_calories[10:12]), calculate_mean(df.move_calories[:5]), calculate_mean(df.move_calories[5:8])])

58.64946717575532

## Point Estimates
Single number. Located in the middle of the confidence interval.

## Confidence Intervals
Interval